.containerCardDetallePais{
    display: flex;
    flex-flow: column nowrap;
    margin: 10% 20%;
    justify-content: center;

    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    .header{
        display: flex;
        flex-flow: row wrap;
        
        padding: 5%;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 55px;
            margin-right: 10%;
        }
        img{
            width: 40%;
        }
    }
    .data{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: column wrap;
        background-color: sandybrown;
        span{
            width: 80%;
            margin: 1% 5%;
            font-size: 30px;
            text-align: center;
            border-radius: 40px;
            background-color: royalblue;
        }
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rosybrown;
      }
      
    .box div {
        width: 100px;
        height: 100px;
        background-color: red;
    }
}