
.formNuevaActividad{
    display: flex;
    justify-content: center;
    margin: 10px;
    form{
        
        display: flex;
        flex-flow: column nowrap;
        margin: 2% 20%;
        padding: 3%;
        border-style: none;
        border-color: gray;
        border-width: 1px;
        border-radius: 30px;
        font-size: 30px;
        //Para que sirva en los 4 lados la sombra
        //https://stackoverflow.com/questions/5608222/how-to-apply-box-shadow-on-all-four-sides
        -webkit-box-shadow: -1px -1px 6px 1px rgba(0, 0, 0, 0.219);
            box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.219);
        .title{
            font-size: 130%;
        }
        .paneles{
            display: flex;
            flex: row nowrap;
            .izquierda{
                margin-left: 30px;
                div{
                    margin: 1.2em 0;
                    margin-right: 10px;
                }
            }
            .derecha{
                div{
                    margin: 1.2em 0;
                    margin-left: 10px;
                }
            }
        }
         
        .paises{
            margin-left: 30px;
            display: flex;
            flex-flow: column nowrap;
            span{
                font-size: 110%; 
                margin: 3% 0%
            }
            .nuevoPais{
                margin: 5% 0%;
                padding: 5px 5%;
                font-size: 70%;
                color: rgb(58, 58, 58);

                background: none;
                outline:none;
                border-style:solid;
                border-color: gray;
                border-radius: 10px;
                transition-duration: 0.4s;

            }
            .nuevoPais:hover{
                background-color: grey;
                color: white;
            }
            .nuevoPais:active{
                background-color: green;
            }
        }
        .input{
            background-color: none;
            border-style: solid;
            border-radius: 10px;
            border-width: 1px;
            border-color: white;
            padding: 3%;
            font-size: 20px;
            outline: none;
            transition-duration: 0.4s;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.219);
        }
        .input:hover{
            border-color: grey;
        }
        .desactivado{
            background-color: grey;
            border-style: solid;
            border-radius: 10px;
            border-width: 1px;
            border-color: grey;
            color: white;
            padding: 3%;
            font-size: 20px;
            outline: none;
            transition-duration: 0.4s;
        }
    }
}