.cardPais{
    font-size: 20px;
    .nombreCard{
        font-size: 30px;
        margin: 3%;
    }
    .banderaCard{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        height: 100%;

    }
    .continenteCard{
        font-size: 110%;
        margin: 3%;
    }
    display: flex;
    flex-flow: column nowrap;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    
}