.containerCardDetallePais{
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 1px 8px 7px rgba(0, 0, 0, 0.219);
    border: solid gray 1px;
    .header{
        display: flex;
        flex-flow: row wrap;     
        justify-content: center;  
        padding: 2%; 
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 55px;
            margin-right: 10%;
        }
        img{
            width: 40%;
        }
    }
    .data{
        margin-bottom: 4%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: column wrap;
        span{
            padding: 1%;
            width: 80%;
            margin: 1% 5%;
            font-size: 26px;
            text-align: center;
            border-radius: 40px;
            border-color: gray;
            border-width: 1px;
            border-style: solid;
        }
    }
}