.containerPaises{
    display: grid;
    @media (min-width: 400px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    
    row-gap: 2%;
    column-gap: 1%;
    align-items: stretch;
}