.containerPaises{
    display: grid;
    @media (min-width: 400px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    
    row-gap: 20px;
    column-gap: 10px;
    align-items:center;
}

